<footer>
</footer>
<script async src="/js/min/main.min.js?v=x"></script>

<script type='application/ld+json'>
{
  "@context": "http:\/\/schema.org",
  "@type": "Organization",
  "url": "https:\/\/www.topsteptrader.com\/",
  "sameAs": ["https:\/\/www.facebook.com\/topsteptrader", "https:\/\/www.instagram.com\/topsteptrader\/", "https:\/\/www.linkedin.com\/company\/topsteptrader", "https:\/\/myspace.com\/topsteptrader", "https:\/\/www.youtube.com\/c\/topsteptraderllc", "https:\/\/twitter.com\/TopstepTrader"],
  "@id": "#organization",
  "name": "TopstepTrader",
  "logo": "https:\/\/www.topsteptrader.com\/wp-content\/themes\/toptrader\/images\/TopstepTraderLogoWebsite(no%20tagline).png",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "8.7",
    "bestRating": "10",
    "reviewCount": "369"
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Chicago",
    "addressRegion": "IL",
    "postalCode": "60661",
    "streetAddress": "130 South Jefferson Suite 200"
  },
  "description": "Become a Funded Trader: 1. Prove you can profit. 2. Show you can manage risk. 3. Get funded. Learn about the path to funding and get started for free today.",
  "telephone": "18884071611"
}
</script>
